div#login-form {
    background-image: url('../../img/1500x500.jfif');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 6% 4%;
}
div#clients{
    background-image: url('../../img/main-illustration.svg');
    background-repeat: no-repeat;
    background-size: 65%;
}
div#promo2{
    background-image: url('../../img/IMG_20190429_120738.jpg    ');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 9% 4%;
    height: 320px;
    background-position-y: 49%;
    background-attachment: fixed;
    box-shadow: 15px 18px 30px black !important;
}

.text-white{
    color: white !important;
}
div.m-wrapper {
    padding: 0px 0px !important;
}