div#wall {
    background-image: url('../../img/bg/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 600px;
    height: 700px;
    width: 100%;
    padding: 4% 4%;
}

div#login-form {
    background-color: white;
    opacity: 0.9;
    margin-left: 40%;
    margin-top: 3%;
    padding: 2%;
}

div#login-form img{
    width: 20%;
}
div#login-form h4{
    padding-top: 3%;
}

div.m-wrapper {
    padding: 0px 0px !important;
}