div.banner{
    border-radius: 2px;

}
div.banner-info{
    background-image: url('../../img/1500x500.jfif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
div.profile_menu{
    background-color: slateblue;
}

div.profile_menu a{
    color: white;
    font-weight: normal;
}

div.profile_menu a:hover{
    color: white;
   /* text-shadow: 2px 2px 2px black;*/
}

div.profile_menu i{
    margin-right: 6px;
}

div.m-subheader{
    margin: 0px !important;
}

div.profile_menu ul.list-inline{
    margin-bottom: 0px !important;
}
div.sombreada{
    box-shadow: 1px 3px 5px black !important;
}