<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del área del conocimiento
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <td>{{ arc.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Objetivos</th>
                        <td><p>{{ arc.objetivos }}</p></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-metal" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>

