{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page/estatica.css','siplan') }}"/>
{% endblock stylesheets %}
{% block body %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-information"></i></span>
                    <h3 class="m-portlet__head-text">
                        Acerca de nosotros
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <h4>¿Cuál es nuestra misión?</h4>
            <p>
                ¡El motivo por el que lo hacemos es porque realmente nos interesa! Nuestra misión es guiar a las
                personas en su manera de lograr sus objetivos y comunicarse eficazmente, ganando así más tiempo para
                pasar con la gente y con las cosas que les gustan.
            </p>
            <h4>¿Cómo trabajamos?</h4>
            <p>
                En SIPLAN creemos que el trabajo no es un lugar al que ir sino una cosa que hacemos. Este es el
                motivo por el que todos trabajamos de forma remota y a decir verdad no tenemos oficina. Es más, no
                utilizamos correo electrónico para la comunicación interna. Sino más bien, todos nos comunicamos
                mediante tareas y comentarios en la aplicación SIPLAN. Aquí, puedes obtener más información acerca
                nuestros valores empresariales…
            </p>
            <h4>¿Para quién trabajamos?</h4>
            <p>
                SIPLAN es para ti, sin importar quien seas ni donde vivas. Esta es nuestra forma de ayudarte a
                aprovechar
                tu tiempo, optimizar no solo tu trabajo sino también tus tareas diarias. A tu alcance, libre, gratuito
                y personalizable.
            </p>
        </div>
    </div>
{% endblock %}
