{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page/estatica.css','siplan') }}"/>
    <style>
        li.code {
            list-style: none;
            margin-bottom: 2%;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-list-3"></i></span>
                    <h3 class="m-portlet__head-text">
                        Servicios
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <h4>API</h4>
            <p>SIPLAN cuenta con ua API en constante crecimiento para permitir a desarrolladores de todo el mundo crear
                aplicaciones web, escritorio o móbil que consuman los servicios
                aquí brindados.
            </p>
            <ul>
                <li>Autenticación en el sistema

                <li class="code">
                    <code>
                        curl -X POST --data "username=pepe&password=pepe"
                        http://localhost/siplan/public/index.php/api/requesttoken
                    </code>
                </li>
                <li>Consumir el listado de los planes de trabajo del usuario actual</li>
                <li class="code">
                    <code>
                        curl -H "X-AUTH-TOKEN:
                        2411b06c62eae35822e06d0de36af40c354a64083c09c3e0f103a7912a638f4d9325531640bbc973ee3920125606cd321c057838cc3cc893a25f8381"
                        http://localhost/siplan/public/index.php/api/plantrabajo/index
                    </code>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}