<li class="m-nav__item m-nav__item--danger m-dropdown m-dropdown--skin-light m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1">
    <a href="#" class="m-nav__link m-dropdown__toggle" id="">
                <span class="m-nav__link-icon">
                    <span class="m-nav__link-icon-wrapper" id="pending_task_counter">
                        <i class="flaticon-warning-2" style="color: white"></i>
                    </span>
                </span>
    </a>
    <div class="m-dropdown__wrapper">
        <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
        <div class="m-dropdown__inner">
            <div class="m-dropdown__header m--align-center user_notification">
                <span class="m-dropdown__header-subtitle">Actividades pendientes</span>
            </div>
            <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                    <div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200" id="pending_task_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</li>