<li class="m-menu__item">
    <a href="{{ path('miembro_consejo_direccion_index') }}" class="m-menu__link">
        <i class="m-menu__link-icon flaticon-users text-white"></i>
        <span class="m-menu__link-text text-white">Consejo de Dirección</span>
    </a>
</li>