<div style="display: none;" class="modal fade" id="basicmodal" tabindex="-1" role="basic" aria-hidden="true">
</div>

<div style="display: none;" class="modal fade" id="extramodal" tabindex="-1">
</div>
