<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{ title| default('Editar actividad') }}</h4>
        </div>
        <div>
            {%include 'actividad/_form.html.twig'%}
        </div>
    </div>
</div>

