<table class="table table-hover m-table m-table--head-separator-brand" id="capitulo_table">
    <thead>
    <tr>
        <th>
            Número
        </th>
        <th>
            Nombre
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for capitulo in capitulos %}
        <tr>
            <td>{{ capitulo.numero }}</td>
            <td>{{ capitulo.nombre }}</td>
            <td>
                <ul class="m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a class="btn btn-info btn-sm edicion" data-href="{{ path('capitulo_edit', { 'id': capitulo.id }) }}">
                            <i class="flaticon-edit-1"></i> Editar</a>
                    </li>

                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>
            Número
        </th>
        <th>
            Nombre
        </th>
        <th>
        </th>
    </tr>
    </tfoot>
</table>
